.bg-green{
    background-color: #04aa6d;
}

.card-shadow{
    box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
    border-radius: 5px;
}

.category-heading{
    padding: 10px 12px;
    border-left: 6px solid black;
    border-right: 6px solid black;
    background-color: #ddd;
}

.post-heading{
    font-size: 26px;
    color: black;
}